ImageValidationsTool/ImageValidation.Validator/Service References/ServiceReference2/ImageValidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageValidationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57480/ImageValidationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57480/ImageValidationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57480/ImageValidationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageValidation.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageValidationService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveAccountHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccountHistory" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveAccountHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccountHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckUsernameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameExists" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckUsernameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveFailedLogon_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFailedLogon" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveFailedLogon_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFailedLogonResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInformation" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInformationFromXml_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInformationFromXml" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInformationFromXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInformationFromXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckModelRecordExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckModelRecordExists" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckModelRecordExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckModelRecordExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedModelRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedModelRecord" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedModelRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedModelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedModelRecordSet1_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedModelRecordSet1" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedModelRecordSet1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedModelRecordSet1Response" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckProductRecordExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckProductRecordExists" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_CheckProductRecordExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckProductRecordExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductRecord" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductRecordSet1_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductRecordSet1" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductRecordSet1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductRecordSet1Response" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductModelRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductModelRecord" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SaveComputerInfoUpdateCheckedProductModelRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveComputerInfoUpdateCheckedProductModelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SeleteComputerInfoByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleteComputerInfoByModel" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SeleteComputerInfoByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleteComputerInfoByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SeleteComputerInfoByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleteComputerInfoByProduct" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SeleteComputerInfoByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleteComputerInfoByProductResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectApplicationsByComputerID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectApplicationsByComputerID" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectApplicationsByComputerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectApplicationsByComputerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectDriverByComputerID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDriverByComputerID" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectDriverByComputerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDriverByComputerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectHotFixByComputerID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectHotFixByComputerID" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectHotFixByComputerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectHotFixByComputerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectFileFolderByComputerID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectFileFolderByComputerID" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectFileFolderByComputerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectFileFolderByComputerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectRegistryByComputerID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectRegistryByComputerID" />
  </wsdl:message>
  <wsdl:message name="IImageValidationService_SelectRegistryByComputerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectRegistryByComputerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageValidationService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/ValidateUser" message="tns:IImageValidationService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/ValidateUserResponse" message="tns:IImageValidationService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAccountHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveAccountHistory" message="tns:IImageValidationService_SaveAccountHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveAccountHistoryResponse" message="tns:IImageValidationService_SaveAccountHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUsernameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/CheckUsernameExists" message="tns:IImageValidationService_CheckUsernameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/CheckUsernameExistsResponse" message="tns:IImageValidationService_CheckUsernameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFailedLogon">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveFailedLogon" message="tns:IImageValidationService_SaveFailedLogon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveFailedLogonResponse" message="tns:IImageValidationService_SaveFailedLogon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInformation" message="tns:IImageValidationService_SaveComputerInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInformationResponse" message="tns:IImageValidationService_SaveComputerInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInformationFromXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInformationFromXml" message="tns:IImageValidationService_SaveComputerInformationFromXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInformationFromXmlResponse" message="tns:IImageValidationService_SaveComputerInformationFromXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckModelRecordExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/CheckModelRecordExists" message="tns:IImageValidationService_CheckModelRecordExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/CheckModelRecordExistsResponse" message="tns:IImageValidationService_CheckModelRecordExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedModelRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecord" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedModelRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecordResponse" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedModelRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedModelRecordSet1">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecordSet1" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedModelRecordSet1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecordSet1Response" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedModelRecordSet1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckProductRecordExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/CheckProductRecordExists" message="tns:IImageValidationService_CheckProductRecordExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/CheckProductRecordExistsResponse" message="tns:IImageValidationService_CheckProductRecordExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecord" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecordResponse" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductRecordSet1">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecordSet1" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductRecordSet1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecordSet1Response" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductRecordSet1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductModelRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductModelRecord" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductModelRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductModelRecordResponse" message="tns:IImageValidationService_SaveComputerInfoUpdateCheckedProductModelRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleteComputerInfoByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SeleteComputerInfoByModel" message="tns:IImageValidationService_SeleteComputerInfoByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SeleteComputerInfoByModelResponse" message="tns:IImageValidationService_SeleteComputerInfoByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleteComputerInfoByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SeleteComputerInfoByProduct" message="tns:IImageValidationService_SeleteComputerInfoByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SeleteComputerInfoByProductResponse" message="tns:IImageValidationService_SeleteComputerInfoByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectApplicationsByComputerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SelectApplicationsByComputerID" message="tns:IImageValidationService_SelectApplicationsByComputerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SelectApplicationsByComputerIDResponse" message="tns:IImageValidationService_SelectApplicationsByComputerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDriverByComputerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SelectDriverByComputerID" message="tns:IImageValidationService_SelectDriverByComputerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SelectDriverByComputerIDResponse" message="tns:IImageValidationService_SelectDriverByComputerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectHotFixByComputerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SelectHotFixByComputerID" message="tns:IImageValidationService_SelectHotFixByComputerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SelectHotFixByComputerIDResponse" message="tns:IImageValidationService_SelectHotFixByComputerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectFileFolderByComputerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SelectFileFolderByComputerID" message="tns:IImageValidationService_SelectFileFolderByComputerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SelectFileFolderByComputerIDResponse" message="tns:IImageValidationService_SelectFileFolderByComputerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectRegistryByComputerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageValidationService/SelectRegistryByComputerID" message="tns:IImageValidationService_SelectRegistryByComputerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageValidationService/SelectRegistryByComputerIDResponse" message="tns:IImageValidationService_SelectRegistryByComputerID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageValidationService" type="tns:IImageValidationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAccountHistory">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveAccountHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUsernameExists">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/CheckUsernameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFailedLogon">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveFailedLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInformation">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInformationFromXml">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInformationFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckModelRecordExists">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/CheckModelRecordExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedModelRecord">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedModelRecordSet1">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedModelRecordSet1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckProductRecordExists">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/CheckProductRecordExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductRecord">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductRecordSet1">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductRecordSet1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComputerInfoUpdateCheckedProductModelRecord">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SaveComputerInfoUpdateCheckedProductModelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleteComputerInfoByModel">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SeleteComputerInfoByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleteComputerInfoByProduct">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SeleteComputerInfoByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectApplicationsByComputerID">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SelectApplicationsByComputerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDriverByComputerID">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SelectDriverByComputerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHotFixByComputerID">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SelectHotFixByComputerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFileFolderByComputerID">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SelectFileFolderByComputerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRegistryByComputerID">
      <soap:operation soapAction="http://tempuri.org/IImageValidationService/SelectRegistryByComputerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageValidationService">
    <wsdl:port name="BasicHttpBinding_IImageValidationService" binding="tns:BasicHttpBinding_IImageValidationService">
      <soap:address location="http://localhost:57480/ImageValidationService.svc/ImageValidationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>