ImageValidationsTool/ImageValidation.Client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImageValidation.Core" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="users" nillable="true" type="q2:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAccountHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ObjUser" nillable="true" type="q3:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUsernameExistsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFailedLogon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ObjUsers" nillable="true" type="q4:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFailedLogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFailedLogonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ObjComp" nillable="true" type="q5:Computer" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ObjAppsLst" nillable="true" type="q6:ArrayOfApplications" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ImageValidation.Core" minOccurs="0" name="ObjDriverLst" nillable="true" type="q7:ArrayOfHotFix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInformationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInformationFromXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInformationFromXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInformationFromXmlResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckModelRecordExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckModelRecordExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckModelRecordExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedModelRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedModelRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInfoUpdateCheckedModelRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedModelRecordSet1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedModelRecordSet1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInfoUpdateCheckedModelRecordSet1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProductRecordExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProductRecordExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckProductRecordExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInfoUpdateCheckedProductRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductRecordSet1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductRecordSet1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInfoUpdateCheckedProductRecordSet1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductModelRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComputerInfoUpdateCheckedProductModelRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComputerInfoUpdateCheckedProductModelRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleteComputerInfoByModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleteComputerInfoByModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeleteComputerInfoByModelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleteComputerInfoByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleteComputerInfoByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeleteComputerInfoByProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectApplicationsByComputerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectApplicationsByComputerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectApplicationsByComputerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDriverByComputerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDriverByComputerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectDriverByComputerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHotFixByComputerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHotFixByComputerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectHotFixByComputerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFileFolderByComputerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFileFolderByComputerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectFileFolderByComputerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRegistryByComputerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRegistryByComputerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectRegistryByComputerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>